.visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffce1;
  color: #000;
  border-radius: 40px;
  width: 100%;
  height: calc(100% - 40px);
  transform: translateY(20px);
}
