.visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  color: var(--color-dark);
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 20px;
}

.p {
  font-family: "satoshi";
}
