.scroller {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  padding: 10px;
  overflow-y: scroll;
  background-color: var(--color-dark-accent-alt);
  border: 1px solid var(--color-border-light);
  border-radius: 10px;
  transition: max-height 0.4s ease;
}

.expanded {
  max-height: 420px;
}

.title {
  position: relative;
  margin-bottom: 8px;
  font-family: satoshi, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: var(--color-light);
  text-transform: uppercase;
}

.floating {
  position: absolute;
  top: -10px;
  right: -4px;
  z-index: 10;
  display: flex;
  gap: 10px;
}

.info {
  opacity: 0.8;
}

.row {
  flex-flow: row wrap;
}
