.title {
  color: var(--color-light);
  font-family: "satoshi";
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 16px;
  display: flex;
  gap: 6px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title svg {
  height: 1.5rem;
  width: 1.5rem;
}