.visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
}

.visualizer p {
  font-family: satoshi, sans-serif;
  color: var(--color-dark);
}
