.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
  background-color: #181818;
  border-bottom: 1px solid #8080805c;
}

.header h1 {
  color: #fffce1;
  font-family: "satoshi";
  font-weight: 900;
  font-size: 1.9rem;
  letter-spacing: -0.01rem;
}
