.sidebar {
  width: 100%;
  max-width: 550px;
  display: flex;
  background-color: #181818;
  border-radius: 12px;
}

.buttonBar {
  height: 100%;
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 20px 20px;
}

.btn {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 12px 12px;
  font-family: "Syne";
}

.btn:hover {
  background-color: #0000000c;
}

.btn svg {
  width: 25px;
  height: 25px;
}

.btnActive {
  background-color: #3d50cb;
  color: #ffffff;
}

.btnActive:hover {
  background-color: #3d50cb;
  color: #ffffff;
}

.currentPicker {
  flex: 1;
}
