.sidebar {
  width: 100%;
  max-width: 380px;
  display: flex;
  background-color: yellow;
}

.buttonBar {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: aqua;
}

.btn {
  width: 100%;
  background-color: yellow;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 8px;
}

.btn svg {
  width: 30px;
  height: 40px;
}

.btnActive {
  background-color: rgb(215, 230, 241);
}
