.sidebar {
  width: 100%;
  max-width: 550px;
  display: flex;
  background-color: #181818;
  border-radius: 12px;
}

.buttonBar {
  height: 100%;
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #8080805c;
}

.btn {
  width: 100%;
  background-color: transparent;
  color: #fffce1;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px 16px;
  font-family: "Helveticaneue";
  border-bottom: 1px solid #fffce023;
}

.btn:hover {
  background-color: #2b2b2ba3;
}

.btn svg {
  width: 20px;
  height: 20px;
}

.btnActive {
  background: #0ee449;
  background: linear-gradient(
    48deg,
    rgba(14, 228, 73, 1) 0%,
    rgb(140, 255, 87) 100%
  );
  color: #fffce1;
  border-bottom: 1px solid #fffce000;
}

.btnActive:hover {
  background: linear-gradient(
    48deg,
    rgba(14, 228, 73, 1) 0%,
    rgb(140, 255, 87) 100%
  );
  color: #fffce1;
  border-bottom: 1px solid #fffce000;
}

.currentPicker {
  flex: 1;
}
