.inputRange {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
  appearance: none;
}

/* Webkit (Chrome, Edge, Safari) */
.inputRange::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
    90deg,
    rgb(186 255 106) 0 var(--progress, 50%),
    #2e2e2e var(--progress, 50%) 100%
  );
  border-radius: 5px;
}

.inputRange::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -6px;
  cursor: pointer;
  background: var(--color-accent);
  border: none;
  border-radius: 50%;
  box-shadow: rgb(131 227 47 / 72.7%) 0 5px 15px;
  outline: 1px solid var(--color-accent);
  appearance: none;
  outline-offset: 4px;
}

/* Firefox */
.inputRange::-moz-range-progress {
  height: 6px;
  background: rgb(186 255 106);
  border-radius: 5px;
}

.inputRange::-moz-range-track {
  height: 6px;
  background: #242424;
  border-radius: 5px;
}

.inputRange::-moz-range-thumb {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: var(--color-accent);
  border: none;
  border-radius: 50%;
}

/* IE/Edge */
.inputRange::-ms-fill-lower {
  background: rgb(186 255 106);
  border-radius: 5px;
}

.inputRange::-ms-fill-upper {
  background: rgb(17 15 15);
  border-radius: 5px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  font-family: satoshi, sans-serif;
  border: none;
  border-radius: 10px;
  gap: 10px;
}

.inputWrapper p {
  margin-bottom: 8px;
  font-family: satoshi, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: var(--color-light);
  text-transform: uppercase;
  opacity: 0.8;
}

.inputWrapper input {
  margin-bottom: 20px;
}
