.input {
  font-family: "satoshi";
  font-size: 1.1rem;
  padding: 14px 10px;
  border-radius: 10px;
  border: none;
  background-color: #242424;
  border: 1px solid var(--color-border-light);
  color: var(--color-light);
}

.input:focus {
  outline: 1px solid var(--color-outline-focus);
}

.fontFamily {
  font-family: "satoshi";
  font-size: 1.1rem;
  padding: 14px 10px;
  border-radius: 10px;
  border: none;
  background-color: #242424;
  border: 1px solid var(--color-border-light);
  color: var(--color-light);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "satoshi";
  border-radius: 10px;
  border: none;
}

.inputsWrapper p {
  margin-bottom: 8px;
  color: var(--color-light);
  font-family: "satoshi";
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  opacity: 0.8;
  text-transform: uppercase;
}

.inputsWrapper input {
  margin-bottom: 20px;
}
