.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--color-light);
  font-family: "satoshi";
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 16px;
  display: flex;
  gap: 6px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title svg {
  height: 1.5rem;
  width: 1.5rem;
}

.step {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.subtitle {
  color: var(--color-light);
  font-family: "satoshi";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  opacity: 0.9;
  text-transform: uppercase;
}

.input {
  font-family: "satoshi";
  font-size: 1.1rem;
  padding: 14px 10px;
  border-radius: 10px;
  border: none;
  background-color: #242424;
  border: 1px solid var(--color-border-light);
  color: var(--color-light);
}

.input:focus {
  outline: 1px solid var(--color-outline-focus);
}

.fontFamily {
  font-family: "satoshi";
  font-size: 1.1rem;
  padding: 14px 10px;
  border-radius: 10px;
  border: none;
  background-color: #242424;
  border: 1px solid var(--color-border-light);
  color: var(--color-light);
}
.inputRange {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}

/* Webkit (Chrome, Edge, Safari) */
.inputRange::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgb(186, 255, 106) 0 var(--progress, 50%),
    #2e2e2e var(--progress, 50%) 100%
  );
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -8px;
  outline: 1px solid var(--color-accent);
  outline-offset: 4px;
  box-shadow: rgba(131, 227, 47, 0.727) 0px 5px 15px;
}

/* Firefox */
.inputRange::-moz-range-progress {
  background: rgb(186, 255, 106);
  height: 6px;
  border-radius: 5px;
}
.inputRange::-moz-range-track {
  background: #242424;
  height: 6px;
  border-radius: 5px;
}
.inputRange::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* IE/Edge */
.inputRange::-ms-fill-lower {
  background: rgb(186, 255, 106);
  border-radius: 5px;
}
.inputRange::-ms-fill-upper {
  background: rgb(17, 15, 15);
  border-radius: 5px;
}

/* Para quitar el fondo por defecto en Firefox */
.inputRange {
  background: transparent;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "satoshi";
  border-radius: 10px;
  border: none;
}

.inputsWrapper p {
  margin-bottom: 8px;
  color: var(--color-light);
  font-family: "satoshi";
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  opacity: 0.8;
  text-transform: uppercase;
}

.inputsWrapper input {
  margin-bottom: 20px;
}
